<div class="container add_a_crux">
  <div class="create_crux">
    <%= link_to '/create_crux', remote: true, class:"add_new_crux" do %>
      <i class="fa fa-plus fa-2x"></i>
    <% end %>
  </div>
</div>


<div class="container whole_darn_page" id="hole_darn_page">
  <%= render partial: "modal" %>

  <%= render partial: "user_cruxes", collection: @cruxes %>
</div>

