<div class="modal fade bs-example-modal-lg" id="cruxModal" tabindex="-1" role="dialog" aria-labelledby="detailModal" id="detailModal" aria-hidden="true">
  <div class="modal-dialog modal-lg md-effect-1">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-dismiss">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
        </div>
      </div>
      <div class="modal-body">
     </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


